@import "variables.scss";


#about-container {
  p {
    color: $secondary-color!important;
  }
  // increase space to feature-icons
  margin-bottom: 2rem;
  // create BG with low opacity and round edges
  padding: 24px 32px 8px;
  background-color: rgba($accent-color, 0.15);
  border-radius: 2rem;
  // center sentences on middle 50% of screen
  @media screen and (min-width: 769px) {
    max-width: 50vw;
  }
}

#feature-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  color: $secondary-color;
  margin-top: -8px;
  .about-feature{
    padding: 0 5%;
    flex: 1 1 50%;
    @media screen and (min-width: 769px) {
      max-width: 50vw;
    }
    @media screen and (max-width: 768px) {
      flex: 1 1 100%;
    }
    .fa-stack{
      line-height: 1.5;
      height: 1.5em;
    }
    .feature-title{
      // text below feature icons, h3
    }
  }
}

#gdd-container {
  // increase space to feature-icons
  margin-top: 3rem;
  // create BG with low opacity and round edges
  padding: 24px 32px 8px;
  background-color: rgba($accent-color, 0.15);
  border-radius: 2rem;

  p {
    @media screen and (min-width: 769px) {
        max-width: 30vw;
      }
    justify-self: center;
    color: $secondary-color;
  }
  .btn {
    margin: 8px 16px;
    padding: 12px 20px;
    opacity: 0.8;
    background-color: darken($muted-color,35);
    border: none;
    transition: 0.3s opacity, background-color;
    
    i {
        color: lighten($muted-color, 20);
        transition: 0.3s color;
    }
  }
  .btn:hover{
      background-color: darken($muted-color,30);
      opacity: 0.9;

      i {
          color: lighten(saturate($detail-color, 5), 5);
      }
  }
}