@import "variables.scss";
@import "nav.scss";
@import "download.scss";
@import "about.scss";
@import "screenshots.scss";
@import "team.scss";

html{
    scroll-behavior: smooth;
}

*, *:after, *:before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    min-height: 100vh;
    margin: 0;
    width: calc((var(--vw, 1vw) * 100));
    font-size: 1em;
    font-family: 'Press Start 2P', -apple-system, Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

h1{
    @media screen and (min-width: 768px) {
        font-size: 4.5rem!important;
    }
}
h2{
    @media screen and (min-width: 768px) {
        font-size: 3rem!important;
    }
    margin-bottom: 1rem!important;
}

.text-details {
    color: $detail-color;
    font-size: 0.95rem;
}


#root-wrapper{
    //background-color: $bg-color;
    background-image: url("../repeated-square-dark.png");
    color: $accent-color;
    -webkit-font-smoothing: antialiased;
    text-align: center;


    display: grid;
    @media only screen and (min-width: 768px) {
        grid-template-columns: 1fr 96vw 1fr;
        grid-template-rows: auto 100vh repeat(5, auto);
    }
    @media only screen and (max-width: 767px) {
        grid-template: auto 100vh repeat(5, auto) / 1fr 96vw 1fr;
    }
}

.subwrapper{
    padding: 92px 0px 48px 0px;
    margin-top: -44px;
}
// lines to separate subwrappers
.subwrapper::after{
    position: relative;
    content: "";
    display: block;
    width: 96vw;
    height: 5px;
    background-color: $secondary-color;
    bottom: -48px;
    opacity: 0.05;
}
#team::after{
    display: none; // no line at the bottom of the page
}


#splash{
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $secondary-color;
    .splash-filler {
        flex: 1 1 0;
    }
}

#demo{
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    #video{
        @media only screen and (max-width: 767px){
            width: 336px!important;
            height: 189px!important;
        }
    }
}

#download{
    grid-row: 4 / span 1;
    grid-column: 2 / span 1;
    display: grid;
}

#about{
    grid-row: 5 / span 1;
    grid-column: 2 / span 1;
    display: grid;
    justify-items: center;
}

#screenshots{
    grid-row: 6 / span 1;
    grid-column: 1 / span 3;
    display: grid;
    justify-content: center;
}

#team{
    grid-row: 7 / span 1;
    grid-column: 2 / span 1;
    display: flex;
    flex-direction: column;
    #team{
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-evenly;
    }
}